doctype html
html

	head
		title About the MBE World Weather TwitterBot
		link(rel="stylesheet", href="stylesheets/style.css")
	body

		h1 About
		MBE World Weather brings you a weather report -- from somewhere in the wide world -- twice a day. MBE World Weather is a TwitterBot - a program that runs on a continual basis, posting random weather reports to twitter and on this website. The weather data comes via the OpenWeatherMap's Weather API.
		p You can learn more about OpenWeatherMap 
			a(href='http://openweathermap.org/') here.
		p And you can learn more about their API 
			a(href='http://openweathermap.org/api') here.
		img(src='/images/colorglobe.jpg')