doctype html
html

    head
        title About the MBE World Weather TwitterBot
        link(rel="stylesheet", href="stylesheets/style.css")
    body

        h1 About
        p MBE World Weather brings you a weather report -- from somewhere in the wide world -- twice a day. MBE World Weather is a TwitterBot - a program that runs on a continual basis, posting random weather reports to twitter and on this website. The weather data comes via the OpenWeatherMap's Weather API. You can learn more about OpenWeatherMap p You can go directly to the a(href='https://twitter.com/mbeWorldWeather') WorldWeather Twitter feed.

        img(src="images/colorglobe.jpg")