extends layout

block content
	h1 MBE World Weather
	p MBE World Weather gives you a weather report -- from somewhere in the wide world -- every 24 hours.

	.tweetsMade
	div(style='overflow: auto; width:650px; height:200px')
		p
			for tweet in tweets
				li #{tweet.tweetText}
	p
	p
	p