// for each page of weather bot website

doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/WeatherBotCSS.css')
	body
		
		block content

	footer
		hr
		p
		p
		p
		p Learn More 
			a(href='/about') About MBE World Weather
		p You can go directly to the 
			a(href='https://twitter.com/mbeWorldWeather') WorldWeather Twitter feed.
		p Contact me 
			a(href='mailto:margaret.elkins@gmail.com') via email.